{{define "index"}}
<!doctype html>
<html lang="en">
  {{template "head" .}}
  <body>
    <section>
      <h2>ALL FILES</h2>
      <dl>
        {{range .}}
        <dt><a href="/api/files/{{.Name}}">{{.Name}}</a></dt>
        <dd>text: {{.Text}}</dd>
        {{end}}
      </dl>
    </section>

    <section>
      <h2>FILE UPLOAD</h2>
      <!-- <form action="/api/files" method="post" enctype="multipart/form-data"> -->
	  <!--   <input name="file" type="file" value=""/> -->
	  <!--   <input name="" type="submit" value="Submit"/> -->
	  <!-- </form> -->
      <input v-el="uploader" type="file" name="avatar" id="avatar" v-on="change:upload">      
    </section>
   
    <script src="/static/js/app.js"></script>
  </body>
</html>
{{end}}
