{{define "index"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <section>
      <h2>ALL FILES</h2>
      <dl>
        {{range .}}
        <dt><a href="/api/files/{{.Name}}">{{.Name}}</a></dt>
        <dd>text: {{.Text}}</dd>
        {{end}}
      </dl>
    </section>

    <section>
      <h2>FILE UPLOAD</h2>
      <form action="/api/files" method="post" enctype="multipart/form-data">
	    File: <input name="file" type="file" value=""/> <br/>
	    <input name="" type="submit" value="Submit"/>
	  </form>
    </section>
   
    <script src="/static/js/app.js"></script>
  </body>
</html>
{{end}}
