{{define "index"}}
<!doctype html>
<html lang="en">
  {{template "head" .}}
  <body>
    <section id="filelist">
      <h2>ALL FILES</h2>
      <ul>
        <li v-for="file in files">
          <h3><a v-bind:href="'/api/files/' + file.name">(( file.name ))</a></h3>
          <p>
            (( file.text ))
          </p>
          <button @click="deleteFile" >DELETE</button>
        </li>
      </ul>
    </section>

    <section id="uploader">
      <h2>FILE UPLOAD</h2>
      <input type="file" name="file" @change="uploadFile">
    </section>
   
    <script src="/static/js/app.js"></script>
  </body>
</html>
{{end}}
